<launch>

#### rosbag #################################################
  <node pkg="rosbag" type="record" name="bag_record" args="-a -o test_"/>

#### HMI ####################################################

  <node pkg="trail" type="app_node" name="HMI" />

#### control motors vis RS485 bus ####################################################

  <node pkg="control485" type="control485_node" name="control485"/>
  <node pkg="control485" type="control485_node_2" name="control485_2"/>
  <node pkg="control485" type="control485_node_3" name="control485_3"/>

#### read signals from CAN bus ####################################################

  <node pkg="read_CAN" type="read_CAN_node" name="CAN_bus_server" output="screen"/>

#### for line detect ####################################################

  <!--node pkg="border_lingang" type="border_lingang_node" name="line_detect" /-->
  <node pkg="serialPort" type="serialPort_node" name="serialPort" />
  <node pkg="realsense2_driver" type="realsense2_driver" name="realsense2_driver" />
  <node pkg="mmw_capture" type="mmw_capture_node" name="obstacle_detect" />

#### for path tracking ####################################################

  <!--node pkg="controlturn" type="controlturn_node" name="controlturn" /-->
  <node pkg="controldis" type="controldis_node" name="controldis" />

#### for reap unit height control ####################################################

  <node pkg="height_controller" type="height_controller_node" name="height_controller" output="screen"/>

#### for logic control flow ####################################################

  <node pkg="smach_tutorials" type="motor_control_client.py" name="motor_control_client"/>

#### for upload data to cloud ################################################

  <node pkg="cloud_convertor" type="cloud_convertor_node.py" name="cloud_convertor"/>

#### visulization ################################################

  <!--node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find launch_file)/rviz_config/rviz.rviz"/-->

  <node pkg="rqt_graph" type="rqt_graph" name="rqt_graph"/>

  <!--node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer_py"/-->

</launch>
