<launch>

#### rosbag #################################################
  <node pkg="rosbag" type="record" name="bag_record" args="-a -o test_"/>

#### for line detect ####################################################

  <node pkg="border_lingang" type="border_lingang_node" name="border_lingang_node" />
  <node pkg="serialPort" type="serialPort_node" name="serialPort" />
  <node pkg="realsense2_driver" type="realsense2_driver" name="realsense2_driver" />



</launch>
