<launch>

  <node pkg="border_height_detect" type="border_height_detect_node" name="border_height_detect_node" />
  <node pkg="serialPort" type="serialPort_node" name="serialPort" />
  <node pkg="realsense2_driver" type="realsense2_driver" name="realsense2_driver" />
  <node pkg="controldis" type="controldis_node" name="controldis_node" />

    <param name="frontview_dis" type="double" value="100"/>
    <param name="p" type="double" value="0.5"/>
    <param name="offset_ange" type="double" value="0"/>
    <param name="offset_dis" type="double" value="0"/>

</launch>
