<launch>

  <node pkg="border_height_detect" type="border_height_detect_node" name="border_height_detect_node" />

  <node pkg="realsense2_driver" type="realsense2_driver" name="realsense2_driver" />
  <node pkg="controldis" type="controldis_rgbd_node" name="controldis_rgbd_node" output = "screen"/>

  <param name="frontview_dis" type="double" value="4"/>
  <param name="p" type="double" value="0.5"/>
  <param name="offset_ange" type="double" value="0"/>
  <param name="offset_dis" type="double" value="95"/>

</launch>
