<launch>

#### Height control server ####################################################
  <node pkg="read_CAN" type="read_CAN_node" name="height_control_server" output="screen"/>

#### HMI ####################################################
  <node pkg="trail" type="app_node" name="HMI"/>

#### rosbag #################################################
  <!--node pkg="rosbag" type="record" name="bag_record" args="-a -o test_height_control"/>

  <node pkg="height_controller" type="height_controller_node" name="height_controller" output="screen"/-->

</launch>
